.entradadatos.error {
    border: solid 3px #FF0000;
}

.entradadatos.correcto {
    border: solid 3px #039e1d;
}

.captcha {
    text-align: center;
    position: relative;
    width: 390px;
    height: 250px;
    display: none;
}

.cuestion {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: xx-large;
    width: 50px;
    height: 50px;
    float: left;
    margin: 5px;
    margin-top: 20px;

}

.resultado {
    border: thick solid rgb(14, 121, 121);
}

.opcaptcha {
    border: thick solid teal;
    color: rgb(14, 121, 121);
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: xx-large;
    width: 50px;
    height: 50px;
    float: left;
    margin: 25px;
    margin-top: 20px;
    background-color: lightgray;

}