body{
    margin: 0;
}
.encabezado{
    background-color: #2D3E52;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 6em;
    flex-wrap: nowrap;
    padding-left: 2em;
}
.container{
    margin: 6em 16em;
}
#logo{
    width: 45px;
    height: 45px;
    padding: 1em;
    margin-left: 2em;
    transition: transform .3s; 
}
#logo:hover{
    transform: scale(1.1); 
    padding: 1em;
}
.encabezado > a, .container a{
    color: white;
    text-decoration: none;
    margin: 1em;
    font-size: 1.22em;
    font-weight: bold;
    padding: 1em;
}
.container a{
    color: #6CD7BD; 
    margin: 0;
    padding: 0;
}
.encabezado > a:hover{
    color: black;
    background-color: white;
    border-radius: 5cm;
}
::marker{
    color: white;
}
ul{
    text-align: left;
    margin: 0;
}
li{
    margin-bottom: 1em;
}
h1 {
    font-size: 1.8em;
    font-weight: bolder;
    color: #6CD7BD;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 0.5em;
}
.cabecera{
    font-size: 1.8em;
    font-weight: bolder;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 0.5em;
}
hr{
    width: 9em;
    height: 0.2em;
    background-color: #bbbbbb;
}
p{
    font-size: 1.3em;
    font-weight: bolder;
    color: grey;
    text-align: center;
}
.temas{
    font-size: 1.3em;
    font-weight: bolder;
    color: grey;
    text-align: left;
}
footer{
    width: 100%;
    height: 54px;
    font-size: 1.3em;
    font-weight: bolder;
    color: white;
    background: #2D3E52;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}
footer p{
    margin: 0;
    width: 30%;
}
#imagenfondo{
    display: block;
    margin: auto;
    width: 1500px;
    height: 610px;
}
#g{
    width: 4em;
    float: right;
}
#curricu{
    width: 2em;
    margin-right: 1em;
    float: right;
}
#portadadwes{
    width: 32em;
    height: 32em;
}